# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# Due to using files in tests, ignoring it.
tests/*.DB
tests/*.xlsx
